@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --primary-font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--main-bg);
  font-size: var(--primary-font-size);
  height: 100vh;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 380px;
  border-radius: 1em;
  background-color: var(--card-bg);
  padding: 1.5em;
  margin: auto;
  row-gap: 1.5em;
}

h1 {
  color: white;
}

.nft-img {
  border-radius: 1em;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.subtitle,
.user,
.clock {
  color: var(--soft-blue);
}

.eth {
  color: var(--cyan);
}

/* .clock {
} */

.user {
  display: flex;
  align-items: center;
}

.user > img {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 1em;
}

.line {
  border: 1px solid var(--line);
  margin: -0.5em 0;
}

.user > p > span {
  color: white;
}
